body {
    font-family: "游ゴシック体", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}

#nav ul{
  margin:0 20px;
  padding:0;
  list-style:none;
}

/* ナビゲーションのスタイル */
#nav ul{
  width:600px;
  border-right:1px dotted #ddd;
  background:#fff;
}
#nav li{
  float:left;
  height: 45px;
  width: 119px;
  border-left:1px dotted #ddd;
}

#nav li a{
  display: block;
  position: relative;
  height: 45px;
  width: 119px;
  font-size:16px;
  text-decoration: none;
  line-height: 45px;
  text-align: center;
  color: #777;
}
#nav li a:hover:after,#nav li a.on:after{
  content:"▲";
  font-size:7px;
  position:absolute;
  bottom:-22px;
  left:55px;
}
.nav1 a{
  border-bottom:4px solid #ff6a6a;
}
.nav1 a:hover:after,.nav1 a.on:after{
  color:#ff6a6a;
}
.nav2 a{
  border-bottom:4px solid #ffbb6a;
}
.nav2 a:hover:after,.nav2 a.on:after{
  color:#ffbb6a;
}
.nav3 a{
  border-bottom:4px solid #e5e478;
}
.nav3 a:hover:after,.nav3 a.on:after{
  color:#e5e478;
}
.nav4 a{
  border-bottom:4px solid #70b956;
}
.nav4 a:hover:after,.nav4 a.on:after{
  color:#70b956;
}
.nav5 a{
  border-bottom:4px solid #56b9a5;
}
.nav5 a:hover:after,.nav5 a.on:after{
  color:#56b9a5;
}



div.tableContainer {
	width: auto;
}

.tableContainer table {
  width: auto;
  border-spacing: 0;
  font-size:12px;
}
.tableContainer table th {
  color: #fff;
  padding: 8px 8px;
  background: #258;
  background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
  background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
  font-weight: bold;
  border-left:1px solid #258;
  border-top:1px solid #258;
  border-bottom:1px solid #258;
  line-height: 120%;
  text-align: center;
  text-shadow:0 -1px 0 rgba(34,85,136,0.9);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}
.tableContainer table th:first-child {
  border-radius: 5px 0 0 0;
}
.tableContainer table th:last-child {
  border-radius:0 5px 0 0;
  border-right:1px solid #258;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}
.tableContainer table tr td {
  padding: 5px 7px;
  border-bottom: 1px solid #84b2e0;
  border-left: 1px solid #84b2e0;
  text-align: left;
}
.tableContainer table tr td:last-child {
  border-right: 1px solid #84b2e0;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
.tableContainer table tr {
  background: #fff;
}
.tableContainer table tr:nth-child(2n+1) {
  background: #f1f6fc;
}
.tableContainer table tr:last-child td {
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
.tableContainer table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
.tableContainer table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
.tableContainer table tr:hover {
  background: #bbd4ee;
  cursor:pointer;
}

.hor-minimalist-b {
	font-size:12px;
}
.hor-minimalist-b th {
	color:#039; padding:10px 8px; border-bottom:2px solid #6678b1;
}

.hor-minimalist-b td {
	border-bottom:1px solid #ccc; color:#669; padding:6px 8px;
}

.hor-minimalist-b tbody tr:hover td {
	color:#009;
}

label {
	font-size: 14px;
}

label.decorate {
	font-size: 12px;
	background: linear-gradient(transparent 60%, #ff99ff 60%);
}

label, input[type='checkbox'] {
    cursor: pointer;
    font-size: 12px;
}

