@* keibaweb Template File *@
@(locations: List[Location], ranks: List[Rank], courses: List[Course], distances: List[Distance])

<html lang="ja">
  <head>
    <meta http-equiv="content-language" content="ja">
    <meta http:equiv="content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <title>入力ページ</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("easyui/themes/default/easyui.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("easyui/themes/icon.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
    <script src="@routes.Assets.versioned("easyui/jquery.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("easyui/jquery.easyui.min.js")" type="text/javascript"></script>

  </head>
  <body>
    @* 共通メニュー *@
    @menu()
    <p/>
    <p/>
    <div>
    <form id="list_form" name="list_form" action="/forecast" method="POST">
      <div class="easyui-panel" style="width:100%;max-width:750px;padding:20px 40px;">
        <input id="open_date" name="open_date" class="easyui-datebox" label="開催日:" labelPosition="left" data-options="formatter:myformatter,parser:myparser" style="width:300px;">
        &nbsp;&nbsp;
        <select id="location" name="location" class="easyui-combobox" label="開催地:" labelPosition="left" style="width:200px;" data-options="editable:'true'">
          @for(location <- locations) {
            <option value="@location.getLocationKbn()">@location.getLocationName()</option>
          }
        </select>
      </div>
      <p/>
      <p/>
      <p/>
      <div class="easyui-panel" title="コンピ指数：" style="width:1200px;">
      <table class="input_table">
        <tr>
          <th></th>
          <th>条件</th>
          <th>コース</th>
          <th>距離</th>
          <th></th>
          @for(j <- 1 to 18) {
            <th>@(j + "th")</th>
          }
        </tr>
        @for(i <- 1 to 12) {
          <tr>
            <td rowspan="2">@(i + "R")</td>
            <td rowspan="2">
              <select class="easyui-combobox" id="@("open" + i + "_rank")" name="@("open" + i + "_rank")" style="width:100px;">
                @for(rank<-ranks) {
                  @if(rank.getRankKbn() != "5") {
                    <option value="@rank.getRankKbn()">@rank.getRankName()</option>
                  } else {
                    <option value="@rank.getRankKbn()" disabled>@rank.getRankName()</option>
                  }
                }
              </select>
            </td>
            <td rowspan="2">
              <select class="easyui-combobox" id="@("open" + i + "_course")" name="@("open" + i + "_course")" style="width:80px;">
                @for(course<-courses) {
                  <option value="@course.getCourseKbn()">@course.getCourseName()</option>
                }
              </select>
            </td>
            <td rowspan="2">
              <select class="easyui-combobox" id="@("open" + i + "_distance")" name="@("open" + i + "_distance")" style="width:80px;">
                @for(distance<-distances) {
                  <option value="@distance.getDistanceKbn()">@distance.getDistanceName()</option>
                }
                <option value="999">その他</option>
              </select>
            </td>
            <td class="title">馬番</td>
            <td><input type="text" size="2" id="@("open" + i + "_number1")" name="@("open" + i + "_number1")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number2")" name="@("open" + i + "_number2")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number3")" name="@("open" + i + "_number3")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number4")" name="@("open" + i + "_number4")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number5")" name="@("open" + i + "_number5")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number6")" name="@("open" + i + "_number6")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number7")" name="@("open" + i + "_number7")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number8")" name="@("open" + i + "_number8")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number9")" name="@("open" + i + "_number9")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number10")" name="@("open" + i + "_number10")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number11")" name="@("open" + i + "_number11")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number12")" name="@("open" + i + "_number12")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number13")" name="@("open" + i + "_number13")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number14")" name="@("open" + i + "_number14")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number15")" name="@("open" + i + "_number15")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number16")" name="@("open" + i + "_number16")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number17")" name="@("open" + i + "_number17")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_number18")" name="@("open" + i + "_number18")" value="0"></td>
          </tr>
          <tr>
            <td class="title">指数</td>
            <td><input type="text" size="2" id="@("open" + i + "_index1")" name="@("open" + i + "_index1")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index2")" name="@("open" + i + "_index2")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index3")" name="@("open" + i + "_index3")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index4")" name="@("open" + i + "_index4")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index5")" name="@("open" + i + "_index5")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index6")" name="@("open" + i + "_index6")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index7")" name="@("open" + i + "_index7")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index8")" name="@("open" + i + "_index8")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index9")" name="@("open" + i + "_index9")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index10")" name="@("open" + i + "_index10")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index11")" name="@("open" + i + "_index11")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index12")" name="@("open" + i + "_index12")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index13")" name="@("open" + i + "_index13")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index14")" name="@("open" + i + "_index14")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index15")" name="@("open" + i + "_index15")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index16")" name="@("open" + i + "_index16")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index17")" name="@("open" + i + "_index17")" value="0"></td>
            <td><input type="text" size="2" id="@("open" + i + "_index18")" name="@("open" + i + "_index18")" value="0"></td>
          </tr>
        }
      </table>
      </div>
      <p/>
      <p/>
      <div>
        <button type="submit" id="forecast" name="forecast" onClick="return checkForecast()">予想</button>
        &nbsp;&nbsp;
        <button type="button" id="clear" name="clear" onClick="clearForm()">クリア</button>
      </div>
    </form>
    </div>
    </body>
      <script type="text/javascript">
      $(function(){
          $('#open_date').datebox('setValue', new Date());
      });

      function clearForm(){
          for(i = 1; i < 13; i++) {
              for(j = 1; j < 19; j++) {
                  document.getElementById('open' + i + '_number' + j).value = "0";
                  document.getElementById('open' + i + '_index' + j).value = "0";
              }
              document.getElementById('open' + i +'_rank').value = "0";
              document.getElementById('open' + i +'_course').value = "0";
              document.getElementById('open' + i +'_distance').value = "100";
          }
      }

      function myformatter(date) {
          var year = date.getFullYear();
          var month = date.getMonth() + 1;
          var day = date.getDate();

          var ret = year + '/' + month + '/' + day;

          return ret;
      }

      function myparser(s) {

      }

      function onReadForecastParameter(id){
      	  var openDate = $('#open_date').datebox('getValue');
      	  var location = $('#location').combobox('getValue');

      	  $('#w').window('close');
      }

      function checkForecast() {
    	    $.messager.confirm('処理の確認', '処理を開始します。<br/>よろしいですか？',function(r){
    	    	  if(!r) {
        	    	  return false;
    	    	  } else {
        	    	  return true;
    	    	  }
        	});
        	return false;
      }

    </script>
</html>
