@* raceresult Template File *@
@(results: List[com.avaje.ebean.SqlRow])

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta http-equiv="content-language" content="ja">
		<meta http:equiv="content-type" content="text/html;charset=UTF-8">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-control" content="no-cache">
		<title>レース詳細</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("easyui/themes/default/easyui.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("easyui/themes/icon.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
		<script src="@routes.Assets.versioned("easyui/jquery.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("easyui/jquery.easyui.min.js")" type="text/javascript"></script>

	</head>
	<body>
    @* 共通メニュー *@
    @menu()
    <p>&nbsp;</p>
    <div>
    	<form id="result_form">
				@if(results != null) {
					@results.get(0).getString("open_date")&nbsp;@results.get(0).getString("location_name")競馬場&nbsp;第@results.get(0).getString("race_no")R
				}
				<div>
					<table>
						<tr>
							<th>着順</th>
							<th>馬番</th>
							<th>枠番</th>
							<th>馬名</th>
							<th>指数</th>
							<th>性齢</th>
							<th>斤量</th>
							<th>騎手</th>
							<th>タイム</th>
							<th>差</th>
							<th>人気</th>
							<th>馬体重</th>
							<th>前回</th>
							<th>厩舎</th>
						</tr>
						@for(result<-results) {
							<tr>
								<td>@result.getString("race_order")</td>
								<td>@result.getString("horse_number")</td>
								<td>@result.getString("race_border")</td>
								<td>@result.getString("horse_name")</td>
								<td>@result.getString("comp_index")[@result.getString("index_order")]</td>
								<td>@result.getString("horse_sex") @result.getString("age")</td>
								<td>@result.getDouble("basis_weight")</td>
								<td>@result.getString("jockey")</td>
								<td>@result.getString("race_time")</td>
								<td>@result.getString("incom")</td>
								<td>@result.getString("popularity")</td>
								<td>@result.getString("weight")</td>
								<td>@result.getString("preweight")</td>
								<td>@result.getString("stable")</td>
							</tr>
						}
					</table>
				</div>
    	</form>
    </div>
	</body>
</html>
